<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Authentication Successfull | BlogPro</title>
</head>

<body>
    <div id="app">
        <p>Authentication Successfull. Your Browser can now access our API's.Click here to go to Home.</p>
        <a href='/'> Home </a>
        <p hidden id="token">{{token}}</p>
        <script type="text/javascript" src="/static/main.js"></script>
</body>

</html>